{% for chapter in collections.chapters %}
    <li class="list-group-item"><a id="nav-item-{{ chapter.data.title | slug }}" href="#card-{{ chapter.data.title | slug }}">{{ chapter.data.title }}</a></li>
{% endfor %}
